.buildpath
.project
.settings/
/pagecache/cachefiles/*.gz
.idea/*
/image/cache
/system/logs/*
/system/cache/*
/.project
/nbproject/private/
/nbproject
/config.php
/admin/config.php
node_modules
npm-debug.log
/app/components
/catalog/view/components
/markup
options.json
/system/logs
/vendor/
composer.lock
/catalog/view/theme/default/stylesheet/index.css
/catalog/view/theme/default/stylesheet/index.min.css
/catalog/view/theme/default/stylesheet/index.css.map
/catalog/view/javascript/app.js
/catalog/view/javascript/app.min.js
/catalog/view/javascript/app.js.map
