.slick-next,
.slick-prev {
  width: 68px;
  height: 71px;
  background: #18241e;
  @include flex(row, wrap, center, center);
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transform: translate3d(0,0,0);
  z-index: 1;
  transition: all .2s ease-in-out;
  &::before {
    content: "";
    display: block;
    @extend %icon-arrow-carousel;
    opacity: 1;
    transition: all .2s ease-in-out;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate3d(-50%, -50%, 0);
    margin: -12px 0 0 -6px;
  }
}
.slick-prev {
  &::before{
    content: "";
    display: block;
    transform: rotate(180deg);
  }
}
.slick-next:focus,
.slick-prev:focus{
  background: #18241e;
}
.slick-next:hover,
.slick-prev:hover {
  background: #009249;
  box-shadow: 0 18px 29px 0 rgba(3, 62, 10, 0.44);
}
