.main{
  position: relative;
  z-index: 3;
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 754px;
    background-image: url('/image/data/main-carousel--bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:-150px;
    left:0;
    @include response(480) {
      display: none;
    }
  }
}
