.about-block
  .about-block__description
    .about-block__title О компании grow
    .about-block__section
      p.
        Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки.
      p.
        Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки
      p.
        Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки.
      p.
        Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки.
    a(href="#").about-block__link Больше о компании
  .link-video-holder
      a(href="https://www.youtube.com/embed/RpG7FzXrNSs", class="about-block__video fancybox fancybox.iframe", style="background-image: url('/image/data/video-bg.jpg')")
        span.video-btn
          span.video-btn__icon
          span.video-btn__title просмотреть видео
