.blog-list__block
  time(datetime="2017-02-05").blog-list__date
    .blog-list__day 05
    .blog-list__month фев 2017
  a(href="#").blog-list__img
    +data('blog-list-img.jpg')
  .blog-list__description
    a(href="#").blog-list__title Минагрополитики назвало три варианта открытия рынка земли
    a(href="#").blog-list__link-block подробнее
    - c++
