.callback-block
  .callback-block__container(style="background-image:url(/image/data/callback-block-img.png)")
    form.callback-block__form(style="background-image:url(/image/data/callback-block-form-bg.jpg)")
      .callback__title Обратный звонок
      .callback__block
        input(type="text", id="name", required).callback__input
        label(for="name").callback__label Ваше имя
        span.callback__line
      .callback__block
        input(type="text", id="phone", required).callback__input
        label(for="phone").callback__label Номер телефона
        span.callback__line
      .callback__block
        textarea(type="text", id="textarea", required).callback__textarea
        label(for="textarea").callback__label Сообщение
        span.callback__line
      button(type="submit").callback__submit отправить
    .callback-block__description
      +data('logo-dark.png').callback-block__logo
      .callback-block__title Мы подберем для вас оптимальный
        span.yellow товар
      .callback-block__subtitle Напишите нам, наш менеджер перезвонит вам в ближайшее время.
