script(src="/catalog/view/components/jquery/dist/jquery.min.js")
//- script(src="/catalog/view/javascript/vendor/tabs.js")
script(src="/catalog/view/components/social-likes/dist/social-likes.min.js")
script(src="/catalog/view/components/slick-carousel/slick/slick.min.js")
script(src="/catalog/view/components/zellion/dist/js/zellion.tabs.js")
script(src="/catalog/view/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="/catalog/view/components/fancybox/source/jquery.fancybox.js")
script(src="/catalog/view/components/fancybox/source/jquery.fancybox.pack.js")
script(src="/catalog/view/components/jcf/dist/js/jcf.js")
script(src="/catalog/view/components/jcf/dist/js/jcf.select.js")
script(src="/catalog/view/components/svg4everybody/dist/svg4everybody.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe0e7RzQTppvzTEUNRuNq5PqhpSOpF7yA")
script(src="/catalog/view/javascript/app.js")
