.product
  a(href="#").product__img
    +data('product.png')
  .product__description
    a(href="#").product__title Комплект ДНАТ Monsanto Бибо F1 20 шт (Агропакгруп)
    .product__text Рыбным текстом называется текст, служащий для временного наполнения макетатекст-наполнитель. Иногда текст-«рыбкомпозиторами при насников.
    .product__block
      .product__id Номер товара: 123-9987
      .product__availability В наличии
      .product__price 1 750.00
        span.small  грн.
  .product__button в корзину
