.product-min
  .product-min__block
    +svg('basket',14,16).product-min__basket-icon
    a(href="#").product-min__img
      +data('product-small.png')
    .product-min__description
      a(href="#").product-min__title Комплект ДНАТ Monsanto Бибо F1 20 шт (Агропакгруп)
      .product-min__id Номер товара: 123-9987
      .product-min__section
        .product-min__container
          .product-min__quantity 1Х
          .product-min__price 450 грн.
        .product-min__counter
          .product-min__button#decrement
          .product-min__value 1 шт.
          .product-min__button#increment
