* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  display: block;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
}

.form-tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-work-time__popup .secondary-time::after,
.cart-edit .info-row::after,
.cart-edit .edit-row::after,
.product-edit::after,
.total-holder.active .delivery-total::after,
.total-holder.active .cart-total::after {
  content: '';
  display: block;
  clear: both;
}

body {
  height: 100%;
}

button {
  background: none;
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px 15px;
}

.wrapper {
  max-width: 940px;
  padding: 0 15px;
  margin: 0 auto;
}

.cart-page .dropdown-menu {
  display: none;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  max-height: 300px;
  overflow: auto;
  list-style: none;
  font-size: 14px;
  color: #999;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  margin: -1px 0 0;
  padding: 0;
}

.cart-page .dropdown-menu li {
  line-height: 38px;
  padding: 0 12px;
  border-top: 1px dashed #d8e8ee;
  text-shadow: 1px 1px 0 #fff;
}

.cart-page .dropdown-menu li:first-child {
  border-top: none;
}

.cart-page .dropdown-menu li:hover {
  background: #f0f8fb;
}

.cart-page {
  color: #999;
}

.cart-page .header {
  padding: 20px 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-work-time {
  font-size: 12px;
  margin: 0 0 15px;
  position: relative;
}

.cart-work-time .handler-work-time {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #333;
  cursor: pointer;
}

.cart-work-time__popup {
  display: none;
  position: absolute;
  padding: 20px 30px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.cart-work-time__popup .title {
  font-size: 14px;
  display: block;
  margin: 0 0 15px;
}

.cart-work-time__popup .main-time {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin: 0 0 20px;
}

.cart-work-time__popup .secondary-time {
  margin: 0 0 10px;
}

.cart-work-time__popup .secondary-time strong {
  color: #000;
  float: right;
}

.cart-work-time__popup.active {
  display: block;
}

.cart-phone {
  font-size: 13px;
}

.cart-phone a {
  color: #999;
  display: inline-block;
  text-decoration: none;
}

.cart-phone a + a {
  margin: 0 10px 0 0;
}

.cart-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  font-weight: 300;
}

.cart-froms-tab .tab {
  display: none;
}

.cart-froms-tab .tab.active {
  display: block;
}

.cart-from,
.cart-product {
  width: 100%;
}

.cart-from {
  margin: 0 30px 0 0;
}

.cart-product {
  margin: 0 0 0 70px;
}

.cart-page .row {
  margin: 0 0 16px;
  position: relative;
}

.cart-page .row.city,
.cart-page .row.country,
.cart-page .row.telephone {
  width: 80%;
}

.cart-page .row .text-danger {
  color: red;
  font-size: 13px;
  margin: 5px 0 0;
}

.cart-page .row-box {
  padding: 14px 0 0;
}

.text-danger {
  font-size: 14px;
}

.cart-page input[type="text"],
.cart-page input[type="email"],
.cart-page input[type="password"],
.cart-page input[type="tel"],
.cart-page textarea {
  padding: 5px 15px;
  box-shadow: none;
  border: 1px solid #ccc;
  width: 100%;
}

.cart-page .name input {
  width: 100%;
}

.form-tab-nav {
  margin: 0 0 30px;
}

.form-tab-nav li {
  display: inline-block;
}

.form-tab-nav li + li {
  margin: 0 0 0 20px;
  border-radius: 3px;
}

.form-tab-nav li a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
}

.form-tab-nav li.active {
  background-color: #999;
}

.form-tab-nav li.active a {
  color: #fff;
}

.cart-holder .title {
  text-transform: uppercase;
  color: #000;
  display: block;
  margin: 0 0 20px;
}

.step-heading {
  margin: 0 0 20px;
}

.step-heading span {
  display: inline-block;
}

.step-heading span.number {
  border: 1px solid;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.step-heading span.label {
  border-bottom: 1px solid;
}

.step-heading span .edit {
  margin: 0 0 10px 20px;
  border-bottom: 1px dashed;
  color: #000;
  display: none;
  font-size: 13px;
  text-decoration: none;
}

.step-heading span .edit.active {
  display: inline-block;
}

.city-example {
  display: block;
  font-size: 12px;
  margin: 5px 0 0;
}

.city-example a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed;
}

.hidden-row {
  display: none;
}

.hidden-row.active {
  display: block;
}

.login-success {
  /*display: none;*/
}

.cart-product-holder {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-item {
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
}

.product-item + .product-item {
  margin: 20px 0 0;
}

.product-item::after {
  content: '';
  display: block;
  clear: both;
}

.product-item .image {
  float: left;
  margin: 0 20px 0 0;
}

.product-item .image img {
  width: 76px;
  height: 76px;
}

.product-item .info-box {
  overflow: hidden;
}

.product-item .name {
  font-size: 14px;
  color: #000;
  display: inline-block;
  margin: 0 0 10px;
}

.product-item .code {
  font-size: 12px;
  margin: 0 0 10px;
}

.product-item .info-row .count {
  display: inline-block;
  vertical-align: middle;
  background: #ddd;
  border-radius: 2px;
  padding: 3px 5px;
  color: #fff;
  font-size: 12px;
}

.product-item .info-row .edit {
  display: inline-block;
  font-size: 13px;
  border-bottom: 1px dashed;
  color: #000;
  text-decoration: none;
  margin: 0 20px;
}

.product-item .info-row .edit:hover {
  border-bottom-color: transparent;
}

.product-item .info-row .price {
  display: inline-block;
  text-align: right;
}

.cart-total,
.delivery-total {
  text-align: center;
  margin: 0 0 20px;
}

.cart-total span,
.delivery-total span {
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
}

.cart-product-list {
  margin: 0 0 20px;
}

.forgot-passwd {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 20px;
  font-size: 12px;
}

.cart-popup-holder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
}

.cart-popup-holder.active {
  display: block;
}

.cart-popup-holder .overlay {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.cart-edit {
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 850px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 40px;
}

.cart-edit .close-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  line-height: 35px;
  font-size: 35px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.cart-edit .close-btn::before {
  display: inline-block;
  content: '+';
  -webkit-transform: rotate(-45deg) translate(-1px, -1px);
  transform: rotate(-45deg) translate(-1px, -1px);
  font-weight: 300;
}

.cart-edit .image {
  float: left;
  margin: 0 20px 0 50px;
}

.cart-edit .info-box {
  overflow: hidden;
}

.cart-edit .edit-title {
  font-size: 12px;
  color: #ccc;
  margin: 0 0 10px;
  display: block;
}

.cart-edit .name {
  color: #000;
  font-size: 17px;
  display: inline-block;
  margin: 0 0 20px;
}

.cart-edit .info-row {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
}

.cart-edit .info-row .info-item {
  float: left;
  font-size: 13px;
  width: 33%;
  color: #000;
}

.cart-edit .info-row .info-item span {
  color: #999;
}

.cart-edit .edit-row {
  margin: 0 0 15px;
}

.cart-edit .edit-row .edit-item {
  float: left;
  width: 33%;
  font-size: 13px;
}

.cart-edit .edit-row .edit-item .label {
  color: #999;
  display: block;
  margin: 0 0 10px;
}

.cart-edit .edit-row .price-for-item {
  padding: 10px;
  border: 1px solid #ddd;
  display: inline-block;
}

.cart-edit .edit-row .price-total {
  color: #333;
  font-size: 36px;
  line-height: 1;
}

.product-edit em {
  font-style: normal;
}

.popup-buttons {
  margin: 25px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.popup-buttons::before {
  content: '';
  display: block;
  clear: both;
}

.popup-buttons button {
  padding: 10px 25px;
}

.popup-buttons button.back {
  float: left;
}

.popup-buttons button.save {
  float: right;
  background-color: #ddd;
}

.cart-count-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cart-count-holder input {
  padding: 10px;
  text-align: center;
  width: 100px;
}

.cart-count-holder .handler-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cart-count-holder .handler-holder span {
  height: 100%;
  width: 25px;
  display: inline-block;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
}

.cart-count-holder .handler-holder span:hover {
  opacity: 0.75;
}

.cart-count-holder .handler-holder .handler {
  position: relative;
}

.cart-count-holder .handler-holder .handler::before {
  content: '';
  border: 5px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart-count-holder .handler-holder .inc::before {
  border-bottom-color: #000;
}

.cart-count-holder .handler-holder .dec::before {
  border-top-color: #000;
}

.step-2 .step-hidden {
  padding: 0 0 5px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
}

.step.disabled .step-hidden {
  display: none;
}

.cart-page .info {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #eee;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  font-family: serif;
  cursor: pointer;
  position: relative;
}

.cart-page .info .info-content {
  display: none;
  position: absolute;
  padding: 8px 10px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  font-weight: 300;
  font-size: 13px;
  color: #666;
  line-height: 17px;
  text-align: left;
  top: 0;
  left: 30px;
}

.cart-page .info.active .info-content {
  display: block;
}

.step-hidden .col-1 {
  width: 120px;
  float: left;
  min-height: 1px;
}

.step-hidden .col-2 {
  overflow: hidden;
  padding: 0 0 0 10px;
}

.step-hidden label {
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.step-hidden label input[type=radio] {
  margin: 0 10px 0 0;
}

.row.address .input-row {
  margin: 0 0 15px;
}

.row.address .input-row input {
  width: 100%;
}

.row.address .input-row.double input {
  width: 35%;
  font-size: 13px;
}

.row.address .input-row.double input + input {
  margin: 0 0 0 20px;
}

.step-hidden .select {
  display: none;
}

.step-hidden .select.active {
  display: block;
}

.step-hidden.comment {
  border-bottom: none;
}

.step-hidden.comment textarea {
  display: none;
  margin: 15px 0 0;
}

.step-hidden.comment textarea.active {
  display: block;
}

.comment-handler {
  border-bottom: 1px dashed;
}

.comment-handler:hover {
  border-bottom-color: transparent;
}

.order-holder {
  text-align: center;
}

.order-holder button {
  background-color: #999;
  border-radius: 5px;
  padding: 8px 20px;
  color: #fff;
}

.final-price {
  margin: 0 0 20px;
  text-align: center;
}

.final-price .price {
  font-size: 20px;
  vertical-align: middle;
  color: #000;
}

.promo {
  margin: 0 0 20px;
  text-align: center;
  padding: 15px 0 0;
  border-top: 1px solid #ddd;
}

.promo .promo-handler {
  font-size: 13px;
  border-bottom: 1px dashed;
  cursor: pointer;
}

.promo .promo-handler:hover {
  border-bottom-color: transparent;
}

.total-holder.active .promo,
.total-holder.active .delivery-total,
.total-holder.active .order-holder,
.total-holder.active .final-price {
  display: block;
}

.total-holder.active .delivery-total,
.total-holder.active .cart-total {
  margin: 0 0 5px;
  text-align: left;
}

.total-holder.active .delivery-total .price,
.total-holder.active .cart-total .price {
  float: right;
  font-size: inherit;
  color: inherit;
}

.total-holder.active .delivery-total {
  margin: 0 0 20px;
}

.promo-code {
  padding: 10px 0 0;
  text-align: center;
  display: none;
}

.promo-code.active {
  display: block;
}

.promo-code input {
  width: 60%;
}
