extends ./layouts/_layout.pug
block content
  +breadcrumbs(['главная','Блог', 'Минагрополитики назвало три варианта открытия рынка земли'])
  +heading('Блог')
  .article
    a(href="#").article__prev предыдущая новость
    .article__container
      .article__head
        time(datetime="2017-02-05").article__date
          .blog-list__day 05
          .blog-list__month фев 2017
        .article__title Минагрополитики назвало три варианта открытия рынка земли
      +data('article.jpg').article__img
      .article__content
        p.
          Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Уже в 16-том веке рыбные тексты имели широкое распространение у печатников.
        p.
          Целенаправленность при одновременной бессмысленности содержания Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно. Целенаправленность при одновременной бессмысленности содержанияРыбные тексты также применяются бессмысленно.
        .article__carousel
          - var i = 0
          while (i < 14)
            +data('article-slide.jpg').article__slide
            - i++
        .article__current
        p.
          Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Уже в 16-том веке рыбные тексты имели широкое распространение у печатников. Иногда текст-«рыба» также используется композиторами при написании музыки.
        p.
          Целенаправленность при одновременной бессмысленности Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов. Как правило их содержание бессмысленно.
        a(style="background-image:url(/image/data/article-video.jpg)", href="https://www.youtube.com/embed/RpG7FzXrNSs", class="article__video fancybox fancybox.iframe")
          span.video-btn
            span.video-btn__icon
        p.
          Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены соответствующие слова. Уже в 16-том веке рыбные тексты имели широкое распространение у печатников.
        include ./includes/_share.pug
    a(href="#").article__next следующая новость
  .article-more
    .article-more__title Читать также
    .article-more__container
      - var i = 0
      while (i < 2)
        include ./includes/_blog-item.pug
        - i++
      +button('все новости')
