extends ./layouts/_layout.pug
block content
  +breadcrumbs(['главная','Кабинет пользователя'])
  +heading('Кабинет пользователя')
  .admin
    ul.admin__nav
      - var arr = ['профиль', 'история заказов', 'изменить личные данные', 'сменить пароль']
      - var i = 0
      for key in arr
        if (i === 3)
          li.admin__item.active
            a(href="#").admin__link= key
        else
          li.admin__item
            a(href="#").admin__link= key
        - i++
    .admin__description
      .board
        .board__avatar
          +svg('user',55,55)
        .board__description
          .board__name Аркадий Иванович Дубровский
          .board__subtitle это вы
      form.form
        .form__title смена пароля
        .form__block
          input(type="password", id="change-password", required).form__input
          label(for="change-password").form__label Новый пароль
          span.form__line
        .form__block
          input(type="password", id="change-password-repeat", required).form__input
          label(for="change-password-repeat").form__label Повтор пароля
          span.form__line
        button(type="submit").form__submit сменить пароль
