extends ./layouts/_layout.pug
block content
  +breadcrumbs(['главная','Вход на сайт'])
  +heading('Вход на сайт')
  .admin
    ul.admin__nav
      - var arr = ['вход', 'регистрация']
      - var i = 0
      for key in arr
        if (i === 0)
          li.admin__item.active
            a(href="#").admin__link= key
        else
          li.admin__item
            a(href="#").admin__link= key
        - i++
    form.form
      .form__block
        input(type="text", id="name-login", required).form__input
        label(for="name-login").form__label Имя
        span.form__line
      .form__block
        input(type="password", id="password", required).form__input
        label(for="password").form__label Пароль
        span.form__line
      .forgot-password
        a(href="#") Забыли пароль?
      button(type="submit").form__submit войти
